body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: auto;
  background-color: rgb(233, 233, 250);
}

.qimage {
  width: 95%;
}

.qimage-div {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: white-pulse-subtle 3s ease-in-out infinite;
  border-radius: 15px;
}

@keyframes white-pulse-subtle {
  0%,
  100% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.4), 0 0 0 rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6),
      0 0 40px rgba(255, 255, 255, 0.4);
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

.new-quote-button {
  --😀: #644dff;
  --😀😀: #4836bb;
  --😀😀😀: #654dff63;
  cursor: pointer;
  width: 184px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: 0.75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all 0.1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
  margin-bottom: 10px;
}

.new-quote-button:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}

.download-button {
  --😀: #1e77f3;
  --😀😀: #96b2fb;
  --😀😀😀: #654dff63;
  cursor: pointer;
  width: 184px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: 0.75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all 0.1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
  margin-bottom: 10px;
}

.download-button:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}

.share-on-whatsapp-button {
  --😀: #00fc54;
  --😀😀: #0e891c;
  --😀😀😀: #654dff63;
  cursor: pointer;
  width: 184px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.125em;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  background: var(--😀);
  border: 2px solid var(--😀😀);
  border-radius: 0.75rem;
  box-shadow: 0 8px 0 var(--😀😀);
  transform: skew(-10deg);
  transition: all 0.1s ease;
  filter: drop-shadow(0 15px 20px var(--😀😀😀));
  margin-bottom: 10px;
}

.share-on-whatsapp-button:active {
  letter-spacing: 0px;
  transform: skew(-10deg) translateY(8px);
  box-shadow: 0 0 0 var(--😀😀😀);
}

/* From Uiverse.io by KhelVers */
.sharebutton {
  cursor: pointer;
  font-size: large;
  font-family: inherit;
  font-weight: bold;
  color: #0011ff;
  background-color: #f8f8fd;
  padding: 0.8em 2.2em;
  border-radius: 50em;
  border: 6px solid #8b93f8;
  box-shadow: 0px 8px #1f35ff;
}
.sharebutton:active {
  position: relative;
  top: 8px;
  border: 6px solid #646fff;
  box-shadow: 0px 0px;
}

.wrapper {
  box-shadow: 0 0 20px rgba(0, 247, 255, 0.4), 0 0 40px rgba(0, 195, 255, 0.3),
    0 0 60px rgba(0, 119, 255, 0.2);
  animation: electric-pulse 3s ease-in-out infinite;
  margin-top: 5px;
}

@keyframes electric-pulse {
  0%,
  100% {
    box-shadow: 0 0 20px rgba(0, 247, 255, 0.4), 0 0 40px rgba(0, 195, 255, 0.3),
      0 0 60px rgba(0, 119, 255, 0.2);
  }
  50% {
    box-shadow: 0 0 30px rgba(0, 247, 255, 0.6), 0 0 60px rgba(0, 195, 255, 0.4),
      0 0 90px rgba(0, 119, 255, 0.3);
  }
}
